[submodule "nativeapi"]
	path = core
	url = ../nativeapi.git
	branch = main
[submodule "nativeapi-flutter"]
	path = bindings/flutter
	url = ../nativeapi-flutter.git
	branch = main
[submodule "nativeapi-rust"]
	path = bindings/rust
	url = ../nativeapi-rust.git
	branch = main
[submodule "nativeapi-swift"]
	path = bindings/swift
	url = ../nativeapi-swift.git
	branch = main
[submodule "nativeapi-kotlin"]
	path = bindings/kotlin
	url = ../nativeapi-kotlin.git
	branch = main
